<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta property="og:title" content="Timeline" />   
     </head>

     <body>
        <form>
            <label>Name:</label>
            <input type="text" id="name" name="name">
            <label>Email:</label>
            <input type="text" id="email" name="email">
            <label>Content:</label>
            <input type="text" id="content" name="content">
            <input type="submit" value="Submit">
        </form>
     </body>


</html>