<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta property="og:title" content="Timeline" />  
        <meta property="og:description" content="Timeline of Posts" />
        <meta property="og:url" content="{{ url }}" /> 
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet"
        />
        
     </head>

     <body>
        <div id="submission-form">
          <form id="form">
            <label>Name:</label>
            <input type="text" id="name" name="name">
            <label>Email:</label>
            <input type="text" id="email" name="email">
            <label>Content:</label>
            <input type="text" id="content" name="content">
            <input type="submit" value="Submit">
          </form>
        </div>
        
        <script src="./static/scripts/main.js"></script>
      <div id="textarea">

      </div>
     </body>


</html>
